<div my-head></div>

<div class="im_page_wrap" ng-class="{im_page_peer_not_selected: !curDialog.peer}">

  <div class="im_page_split clearfix">

    <div class="im_dialogs_col_wrap" ng-controller="AppImDialogsController">
      <div class="im_dialogs_panel">
        <div class="dropdown im_dialogs_panel_dropdown pull-right" dropdown>
          <a class="dropdown-toggle" dropdown-toggle>
          </a>
          <ul class="dropdown-menu">
            <li><a ng-click="openGroup()" my-i18n="im_new_group"></a></li>
            <li><a ng-click="importContact()" my-i18n="im_new_contact"></a></li>
            <li ng-if="!isEmpty.contacts"><a ng-click="openContacts()" my-i18n="im_contacts"></a></li>
            <li><a ng-click="openSettings()" my-i18n="im_settings"></a></li>
          </ul>
        </div>
        <div class="im_dialogs_search">
          <input class="form-control im_dialogs_search_field no_outline" type="search" placeholder="{{'modal_search' | i18n}}" ng-model="search.query"/>
          <a class="im_dialogs_search_clear" ng-click="searchClear()" ng-show="search.query.length"></a>
        </div>
      </div>

      <div my-dialogs-list class="im_dialogs_col">
        <div class="im_dialogs_wrap nano">
          <div class="im_dialogs_scrollable_wrap nano-content">

            <div class="im_dialogs_empty_wrap" ng-if="isEmpty.contacts">
              <h3 class="im_dialogs_empty_header" my-i18n="im_no_contacts"></h3>
              <p class="im_dialogs_empty_lead" my-i18n="im_get_started_long"></p>
              <button type="button" class="btn btn-primary btn-sm" ng-click="importContact()" my-i18n="im_add_contact"></button>
              <button ng-if="phonebookAvailable" type="button" class="btn btn-primary btn-sm im_dialogs_import_phonebook" ng-click="importPhonebook()" my-i18n="im_import_phonebook"></button>
            </div>

            <div ng-switch="search.messages">
              <ul ng-switch-when="true" class="nav nav-pills nav-stacked">
                <li class="im_dialog_wrap" my-dialog dialog-message="dialogMessage" ng-repeat="dialogMessage in dialogs track by dialogMessage.id" ng-class="{active: curDialog.peerID == dialogMessage.peerID &amp;&amp; curDialog.messageID == dialogMessage.id}"></li>
              </ul>
              <ul ng-switch-default class="nav nav-pills nav-stacked">
                <li class="im_dialog_wrap" my-dialog dialog-message="dialogMessage" ng-repeat="dialogMessage in dialogs track by dialogMessage.peerID" ng-class="{active: curDialog.peerID == dialogMessage.peerID}"></li>
              </ul>
            </div>

            <div class="im_dialogs_contacts_wrap" ng-show="!search.messages &amp;&amp; threads.length > 0">
              <!-- <h5 my-i18n="im_contacts_title"></h5> -->
              <ul class="nav nav-pills nav-stacked">
                <!-- <li class="im_dialog_wrap" ng-repeat="contact in contacts | filter:search.query | orderBy:'contact.fullname' track by contact.userId" ng-class="{active: curDialog.peerID == contact.userId}">
                  <a class="im_dialog" ng-mousedown="dialogSelect('u'+contact.userId)">
                    <div class="im_dialog_photo pull-left" img-class="im_dialog_photo">
                      <img ng-show="contact.avatarSmall.length > 0" class="im_dialog_photo" src="{{contact.avatarSmall}}" alt="">
                      <span ng-show="contact.avatarSmall.length == 0" class="im_dialog_photo">UB</span>
                    </div>
                    <div class="im_dialog_message_wrap">
                      <div class="im_dialog_peer">
                        <span class="im_dialog_user">{{contact.fullname}}</span>
                      </div>
                      <div class="im_dialog_message">
                        <span class="im_dialog_message_text">{{contact.statusMessage}}</span>
                      </div>
                    </div>
                  </a>
                </li> -->
                <li class="im_dialog_wrap" ng-repeat="thread in threads | filter:search.query | orderBy:'thread.fullname' track by thread.from" ng-class="{active: thread.from == curThread}">
                  <a class="im_dialog" ng-mousedown="threadSelect(thread.from)">
                    <div class="im_dialog_photo pull-left" img-class="im_dialog_photo">
                      <img ng-show="thread.avatarSmall.length > 0" class="im_dialog_photo" src="{{thread.avatarSmall}}" alt="">
                      <span ng-show="thread.avatarSmall.length == 0" class="im_dialog_photo" ng-class="randomAvatarColor(thread.from)">{{getAvatarText(thread.fullname)}}</span>
                    </div>
                    <div class="im_dialog_message_wrap">
                      <div class="im_dialog_peer">
                        <span class="im_dialog_user">{{thread.fullname}}</span>
                      </div>
                      <div class="im_dialog_message">
                        <span class="im_dialog_message_text">{{thread.latestMessage}}</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="im_history_col_wrap" ng-controller="AppImHistoryController">

      <div>
        <div my-history class="im_history_col">

          <div class="im_history_panel_wrap">

            <div class="im_history_panel clearfix" ng-controller="AppImPanelController">
              <div class="im_history_panel_title">
                <!-- <img class="im_dialog_photo" src="{{selectedUser.avatarSmall}}" alt="{{selectedUser.fullname}}" />
                <a class=""><strong>{{selectedUser.fullname}}</strong></a> -->
              </div>

            </div>

          </div>

          <div class="im_history_wrap nano">

            <div class="im_history_scrollable_wrap nano-content">

              <div class="im_history_scrollable">
                  <div class="im_history" ng-class="{im_history_selectable: historyState.selectActions}">
                    <div ng-if="state.empty"  class="im_history_empty" ng-switch="state.mayBeHasMore" my-vertical-position="0.25" padding="true">
                      <span ng-switch-when="true">
                        <my-i18n msgid="im_loading_history"></my-i18n><span my-loading-dots></span>
                      </span>
                      <span ng-switch-default my-i18n="im_no_messages"></span>
                    </div>

                    <div class="im_history_messages" ng-class="{im_history_messages_group: historyPeer.id < 0}">
                      <div class="im_history_messages_peer">
                        <div class="im_history_message_wrap" ng-repeat="msg in histories" ng-show="msg.from == selectedUserId || msg.to == selectedUserId">
                          <div class="im_message_outer_wrap" ng-click="toggleMessage(historyMessage.id, $event)">
                            <div class="im_message_wrap clearfix">
                              <div class="im_content_message_wrap" ng-class="{'pull-right': msg.to > 0}">
                                <a class="im_message_from_photo pull-left" img-class="im_message_from_photo" ng-hide="msg.to > 0">
                                  <img ng-show="selectedUser.avatarSmall.length > 0" class="im_message_from_photo" src="{{selectedUser.avatarSmall}}" />
                                  <span ng-show="selectedUser.avatarSmall.length == 0" class="im_message_from_photo" ng-class="randomAvatarColor(selectedUser.userId)">{{getAvatarText(selectedUser.fullname)}}</span>
                                </a>

                                <!-- <div class="im_message_meta pull-right text-right">
                                  <span class="im_message_date">{{msg.msgId}}</span>
                                </div> -->

                                <div class="im_message_body">

                                  <a class="im_message_author" ng-hide="msg.to > 0">
                                    <span>{{selectedUser.fullname || "Unknown"}}</span>
                                  </a>

                                  <div class="im_message_text">{{msg.msg}}</div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

              </div>

            </div>

          </div>

          <div class="im_bottom_panel_wrap">

            <div class="im_edit_panel_wrap clearfix" ng-show="historyState.selectActions">
              <a class="pull-right im_panel_peer_photo">
                <img class="im_panel_peer_photo" src="{{selectedUser.avatarSmall}}">
              </a>
              <a class="pull-left im_panel_own_photo">
                <img class="im_panel_peer_photo" src="{{currentUser.avatarSmall}}">
              </a>

              <div class="im_edit_panel_border"></div>
              <a class="im_edit_flush_link" ng-click="selectedFlush()" ng-switch="historyPeer.id > 0">
                <span ng-switch-when="true" my-i18n="im_delete_chat"></span>
                <span ng-switch-default my-i18n="im_clear_history"></span>
              </a>
              <a class="im_edit_cancel_link" ng-click="selectedCancel()" my-i18n="modal_cancel"></a>
              <div class="im_edit_selected_actions" my-i18n>
                <a class="btn btn-primary im_edit_forward_btn" ng-click="selectedForward()" ng-class="{disabled: !selectedCount}" ng-disabled="!selectedCount" my-i18n-format="im_forward"></a>
                <a class="btn btn-danger im_edit_delete_btn" ng-click="selectedDelete()" ng-class="{disabled: !selectedCount}" ng-disabled="!selectedCount" my-i18n-format="im_delete"></a>
                <my-i18n-param name="count"><strong class="im_selected_count" ng-show="selectedCount > 0" ng-bind="selectedCount"></strong></my-i18n-param>
              </div>
            </div>

            <div class="im_send_panel_wrap" ng-hide="historyState.selectActions">

              <div class="im_send_form_wrap1">

                <div class="im_send_form_wrap clearfix" ng-controller="AppImSendController">
                  <div class="pull-right im_panel_peer_photo" ng-click="showPeerInfo()">
                    <img
                      class="im_panel_peer_photo"
                      my-load-thumb
                      watch="true"
                      thumb="historyPeer.photo"
                    />
                    <i class="icon im_panel_peer_online" ng-show="historyPeer.id > 0 &amp;&amp; historyPeer.data.status._ == 'userStatusOnline'"></i>
                  </div>
                  <div class="pull-left im_panel_own_photo">
                    <img
                      class="im_panel_own_photo"
                      my-load-thumb
                      watch="true"
                      thumb="ownPhoto"
                    />
                  </div>
                  <form draft-message="draftMessage" class="im_send_form" ng-class="{im_send_form_empty: !draftMessage.text.length}">

                    <div class="im_send_field_wrap">
                      <div class="im_send_dropbox_wrap" my-i18n="im_photos_drop_text"></div>
                      <textarea  ng-keypress="keypress($event)" ng-model="draftMessage.text" placeholder="{{'im_message_field_placeholder' | i18n}}" class="form-control im_message_field no_outline"></textarea>
                    </div>

                    <!-- <div class="im_media_attach pull-right">
                      <input type="file" class="im_media_attach_input" size="28" multiple="true" accept="image/*, video/*, audio/*" title="{{'im_media_attach_title' | i18n}}"/>
                      <i class="icon icon-camera"></i>
                    </div>

                    <div class="im_attach pull-right">
                      <input type="file" class="im_attach_input" size="28" multiple="true" title="{{'im_attach_file_title' | i18n}}" />
                      <i class="icon icon-paperclip"></i>
                    </div>

                    <div class="im_emoji_btn pull-right" title="{{'im_emoji_btn_title' | i18n}}">
                      <i class="icon icon-emoji"></i>
                    </div> -->

                    <button ng-show="selectedUserId > 0" type="submit" class="btn btn-success im_submit" ng-click="sendMsg()">
                      <span class="im_submit_text" my-i18n="im_submit_message"></span>
                    </button>
                  </form>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>

    </div>

  </div>

</div>

<div my-footer></div>